@charset "UTF-8";

@media  screen and (min-width: 608px) {
    #omenu {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    main {
        width: 583px;
    }
}