@charset "UTF-8";

/* configuração geral mobile first*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 html {
    width: 100vw;
    height: 100vh;
}
body {
    background: black url(../imagens/back-phone.jpg) center center/cover no-repeat;
}
main {
    background-color: rgba(255, 255, 255, 0.473);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 1em;
}
img {
    display: block;
    margin: auto;
}
img#fone {display: block;}
img#imp {display: none;}
img#tv {display: none;}
img#pc {display: none}
img#imp {display: none;}
img#tab {display: none;}